<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    ****{{.Name}}****
--------------------------------------------------------------
    Breakfast
    {{range .Menu.Breakfast}}
    {{.ItemName}}
    {{.Price}}
    Kcals - {{.NutritionData.Calories}}
    Protien - {{.NutritionData.Protien}}
    Fat - {{.NutritionData.Fat}}
    Carbohydrates - {{.NutritionData.Carbohydrates}}
    {{end}}

    Lunch
    {{range .Menu.Lunch}}
    {{.ItemName}}
    {{.Price}}
    Kcals - {{.NutritionData.Calories}}
    Protien - {{.NutritionData.Protien}}
    Fat - {{.NutritionData.Fat}}
    Carbohydrates - {{.NutritionData.Carbohydrates}}
    {{end}}

    Dinner
    {{range .Menu.Dinner}}
    {{.ItemName}}
    {{.Price}}
    Kcals - {{.NutritionData.Calories}}
    Protien - {{.NutritionData.Protien}}
    Fat - {{.NutritionData.Fat}}
    Carbohydrates - {{.NutritionData.Carbohydrates}}
    {{end}}

{{end}}

   

</body>
</html>