<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Date}}--{{.Open}}--{{.High}}--{{.Low}}--{{.Close}}--{{.Volume}}--{{.Adj}} <br />
{{end}}

</body>
</html>